<!-- scorePop.html (등급 산정 기준 윈도우 팝업) -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HR SOLUTION | 등급 산정 기준 윈도우 팝업</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <!-- meta name="apple-mobile-web-app-capable" content="yes" /-->
    <meta name="copyright" content="(주)블루웨이브컨설팅" />
    <meta name="reply-to" content="aziulsanko@bluewave.co.kr"/>
    <meta name="Description" content="HR 인사평가 솔루션, 다면평가에서부터 개인별 결과 보고서까지 원스톱 서비스 | HR SOLUTION"/>
    <meta name="Keywords" content="인사평가, 인사평가솔루션, HR, HR SOLUTION"/>

    <!--favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="">
    <link rel="icon" sizes="16x16 32x32" href="">

    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="static/css/capacityRes.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/jquery.dataTables.min.js" defer></script>
    <script src="static/js/common.js" defer></script>
    <script src="static/js/capacityRes.js" defer></script>
</head>
<body>   
    <!-- score PopUp (등급 산정 기준) -->
    <div class="scorePopUp">            
        <h3><span class="headMark"></span> 등급 산정 기준</h3>
        <div class="tableWrap">
            <table title="scorePopUp" id="scorePopUpTb" border="1" width="100%">
                <colgroup> 
                    <col width="20%">
                    <col width="40%">
                    <col width="40%">
                </colgroup>

                <thead>
                    <tr class="trBottom">                                    
                        <td class="thHeight title">기준 등급</td> 
                        <td class="thHeight title">내용</td> 
                        <td class="thHeight title">평균 점수</td> 
                    </tr> 
                </thead>  

                <tbody id="scorePop_tb">      
                    <!-- <tr class="trBottom">                                    
                        <td class="thHeight">S</td>
                        <td class="thHeight">매우 우수</td>
                        <td class="thHeight">90점 이상</td>
                    </tr>                                    -->
                </tbody>
            </table>                
        </div>
    
        <div class="btnBox">
            <button type="button" class="btn cancelBtn">닫기</button>
        </div>
    </div>   

</body>
</html>