<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>HR SOLUTION  | 역량평가분석</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <!-- meta name="apple-mobile-web-app-capable" content="yes" /-->
    <meta name="copyright" content="(주)블루웨이브컨설팅"/>
    <meta name="reply-to" content="aziulsanko@bluewave.co.kr"/>
    <meta name="Description" content="HR 인사평가 솔루션, 다면평가에서부터 개인별 결과 보고서까지 원스톱 서비스 | HR SOLUTION"/>
    <meta name="Keywords" content="인사평가, 인사평가솔루션, HR, HR SOLUTION"/>

    <meta property="og:title" content="HR SOLUTION 공식 웹사이트 | HR SOLUTION">
    <meta property="og:description" content="HR SOLUTION 공식 온라인 쇼핑몰 - HR 인사평가 솔루션, 다면평가에서부터 개인별 결과 보고서까지 원스톱 서비스 | HR SOLUTION">
    <meta property="og:url" content=""/>  <!-- 메인page -->
    <meta property="og:image" content=""> <!-- 파비콘 -->
    <meta name="twitter:title" content="HR SOLUTION 공식 웹사이트 | HR SOLUTION">
    <meta name="twitter:description" content="HR SOLUTION 공식 온라인 쇼핑몰 - HR 인사평가 솔루션, 다면평가에서부터 개인별 결과 보고서까지 원스톱 서비스 | HR SOLUTION">
    <meta name="twitter:url" content=""> <!-- 메인page -->
    <meta name="twitter:image" content=""> <!-- 파비콘 -->

    <!--favicon -->
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="">
    <link rel="icon" sizes="16x16 32x32" href="">

    <link rel="stylesheet" href="static/css/reset.css">
    <link rel="stylesheet" href="static/css/common.css">
    <link rel="stylesheet" href="static/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="static/css/capacityAnalysis.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="static/js/jquery.dataTables.min.js" defer></script>
    <script src="static/js/common.js" defer></script>
    <script src="static/js/capacityAnalysis.js" defer></script>    
    
</head>

<body>
    <!-- header -->
    <div id="header">
        <header>   
            <div class="frame">
                <div class="logo">
                    <a href="index.html"><img src="static/img/logo.png" alt="logo이미지"></a>
                </div>
                        
                <nav class="menuWrap">
                    <ul class="menu">
                        <li><a href="myInfo.html">내 정보</a>
                            <nav>
                                <a href="myInfo.html">기본 정보</a>
                            </nav>
                        </li>   
                        <li><a href="capacityEva.html">역량 평가</a>
                            <nav>
                                <a href="capacityRes.html">역량 평가 결과(A)</a>
                                <a href="capacityDes.html">역량 평가 설계(A)</a>
                                <a href="capacityAnalysis.html">역량 평가 분석(A)</a>
                            </nav>
                        </li>                    
                        <li><a href="employeeManagement.html">사원 관리</a>
                            <nav>
                                <a href="employeeManagement.html">사원 관리</a>
                            </nav>
                        </li>
                        <li><a href="commonCode.html">시스템 관리</a>
                            <nav>
                                <a href="commonCode.html">공통 코드 관리</a>
                            </nav>
                        </li>
                    </ul>                    
                </nav>    
        
                <div class="menuRight">
                    <a href="#" id="logIn">Log in</a>
                </div>                   
            </div>              
        </header>
    </div>

    <!-- bord -->
    <div class="bordContainer frame">
        <div id="bord">
            
            <!-- bord left -->
            <aside class="bordLeft">        
                <p>역량 평가</p>  
                <div class="capacityEva"><a href="capacityEva.html"> - 역량 평가</a></div>  
                <div class="capacityRes"><a href="capacityRes.html"> - 역량 평가 결과(A)</a></div>  
                <div class="capacityDes"><a href="capacityDes.html"> - 역량 평가 설계(A)</a></div>  
                <div class="capacityAnalysis MenuDepth"><a href="capacityAnalysis.html">- 역량 평가 분석(A)</a></div>
            </aside>    
        
            <!-- bord right -->
              <section class="bordRight">
                <article class="titleTop">
                    <h2>역량 평가 분석(A)</h2>
                    <div class="title">
                        <p><span class="headMark"></span> 평가서 목록</p>                
                    </div>   
                </article>

                <article id="capacityAnalysisList">
                    <div class="tableWrap">
                        <table title="capacityAnalysisList" id="capacityAnalysistTb" class="hover row-border stripe" border="1" width="100%">
                            <colgroup>
                                <col width="8%">
                                <col width="20%">
                                <col width="35%">
                                <col width="25%">
                                <col width="12%">
                            </colgroup>    
                            <thead class="trHead"> 
                                <tr class="trBottom">
                                    <td class="thHeight">no</td>
                                    <td class="thHeight">부서</td>
                                    <td class="thHeight">제목</td>
                                    <td class="thHeight">진행 기간</td>
                                    <td class="thHeight">상태</td>
                                </tr>                       
                            </thead>
                            <tbody id="capacityAnalysisTbody">
                                <!--
                                    <tr class="trBottom">
                                    <td class="thHeight">01</td>
                                    <td class="thHeight">퍼블리셔팀</td>
                                    <td class="thHeight"><a href="capacityEvaDetail.html">제목이 출력되는 영역입니다.</td>
                                    <td class="thHeight">2020-10-01 ~ 2020-10-31</td>
                                    <td class="thHeight">평가중</a></td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </article> 
              </section>
        </div>       
    </div>  

    
</body>
</html>